<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="es6-promise.TypeScript.DefinitelyTyped" version="0.7.7" targetFramework="net452" />
  <package id="knockout.es5.TypeScript.DefinitelyTyped" version="0.1.9" targetFramework="net452" />
  <package id="knockout.TypeScript.DefinitelyTyped" version="1.1.5" targetFramework="net452" />
  <package id="RequireJS" version="2.3.2" targetFramework="net452" />
  <package id="requirejs.TypeScript.DefinitelyTyped" version="0.4.4" targetFramework="net452" />
  <package id="when.TypeScript.DefinitelyTyped" version="0.5.7" targetFramework="net452" />
</packages>